@import "Footer.css";
@import "Product.css";
@import "Filter.css";
@import "Header.css";

.App-light,
.App-dark {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-light {
  background-color: #f0f0f0;
  color: #000;
}

.theme-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 2rem;
}

.theme-btn-icon {
  height: 1.5rem;
}

.light .theme-btn {
  color: #333;
}

.dark .theme-btn {
  color: #fff;
}

.App-dark {
  background-color: #333;
  color: white;
}

.app-body {
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;
}

.pagination-theme {
  margin: 1rem 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 84%;
}

.pagination-filter {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.select-items {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.select-items:hover {
  border-color: #666;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dark .btn {
  background-color: #f0f0f0;
  color: #333;
}

.btn:hover {
  background-color: #555;
}

.dark .btn:hover {
  background-color: #afadad;
}

.btn:disabled {
  background-color: #a5a2a2;
  cursor: auto;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.total-products {
  font-size: 1.2rem;
}

.product-and-filter {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
}

@media screen and (max-width: 580px) {
  .pagination-theme {
    width: auto;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .pagination-filter {
    align-self: center;
  }
  .product-and-filter {
    display: block;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
}
