@import "Footer.css";
@import "Product.css";
@import "Filter.css";
@import "Header.css";

.App {
  text-align: center;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.pagination-filter {
  align-self: flex-start;
  margin: 1rem 0.75rem;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

.btn:disabled {
  background-color: #666;
}

.hamburger {
  display: none;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

.product-and-filter {
  display: flex;
  width: 100vw;
}

@media screen and (max-width: 426px) {
  .product-and-filter {
    display: block;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
}
@media screen and (max-width: 426px) {
  .ProductFilter {
    display: none;
  }
}
