.header {
  background-color: #333;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#dark {
  background-color: #535353;
}

.logo {
  width: 8rem;
  height: auto;
  margin-left: 1rem;
}

@media screen and (max-width: 769px) {
  .header {
    justify-content: center;
  }
  .logo {
    margin: 0;
  }
}
