.header {
  background-color: #333;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#dark {
  background-color: #535353;
}

.logo {
  width: 8rem;
  height: auto;
  margin-left: 1rem;
}

.theme-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 2rem;
  color: #fff;
  position: relative;
  right: 3rem;
}

.theme-btn-icon {
  height: 1.5rem;
}
